// changed my grid points because the average phone has a width of 350-450 px and
// bootstraps sm: 576px is too big
$grid-breakpoints: (
  xs: 0,
  sm: 350px,
  md: 668px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

// $theme-colors: (
//   "primary":    $primary,
//   "secondary":  $secondary,
//   "success":    $success,
//   "info":       $info,
//   "warning":    $warning,
//   "danger":     $danger,
//   "light":      $light,
//   "dark":       $dark
// );
$primary: rgb(4, 22, 40);
$secondary: #A29360 ;
$info: #95B3BF;

$box-shadow-lg:  0 .5rem 1rem #040B24;

/* Your styles go here */
@import "bootstrap/scss/bootstrap.scss";
@import "bootstrap-icons/font/bootstrap-icons.css";
// @import "~@fortawesome/fontawesome-free/css/all.css";



html, body{
    background-color: rgb(4, 22, 40)!important;
}
.robotoHeader{
  font-family: 'Roboto', Sans-Serif;
  font-size: 2.2rem;
}
.camboBody{
  font-family: 'Cambo', Serif;
  font-size: 1.2rem;
}
// .container{
//     background-color: rgb(4, 22, 40);
// }
nav{
  font-family: 'Cambo', Serif;
  font-size: 1.2rem;
  .jStaxLogo{width: 200px;}
    // background-color: rgb(4, 22, 40);
    .nav-link{
        color: white;
        font-size: 1.2rem;
        margin-right: 10px;
        &:hover, &:focus{
            color: $info ;
            transform: scale(1.5);
        }
        @media(max-width: 992px){
          &:hover, &:focus{
            color: $info;
            transform: scale(.9);
        }
          }    
    }
    // why is this not appearing unless clicked?
    .navbar-toggler{
      color: $secondary;
    }
    // .navbar-toggler-icon{
    //   color: red;
    //   background-color: purple;
    // }

}

#video-background { 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width:100%;
    display: block;
    height: auto;
  }

  .videoContainerMobile{
    display: none;
    
    // video is replaced if one mobile device
    @media(max-width: 600px){
      position: relative;
      display: block;
      }
      h1{
        font-size: 1.5rem;
      }
    .jumboMessage{
    //   font-family: 'Rubik', sans-serif;
    //   font-family: 'Source Sans Pro', sans-serif;
    //   font-family: 'Unbounded', cursive;
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      color: black;
      transition: color 3s ease-out;
    //   filter: opacity(.5);
      &:hover{
        color: white;
        filter: opacity(.9);
      }
    
    }

    .arrow {
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, 50%);
        width: 50px;
        height: 50px;
        font-size: .7rem;
        // animation: flashing 3s ease-in-out 3;
      }
      @keyframes flashing {
        0% {
          opacity: 1;
          color: black;
        }
        50% {
          opacity: 0;
          color: white;
        }
        100% {
          opacity: 1;
          color: black;
        }
      }

    }
// end of videoContainerMobiles Rules

  .videoContainerDesktop{
    position: relative;
    // video is replaced if one mobile device
    @media(max-width: 600px){
      display: none;
      }
    .jumboMessage{
    //   font-family: 'Rubik', sans-serif;
    //   font-family: 'Source Sans Pro', sans-serif;
    //   font-family: 'Unbounded', cursive;
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      color: black;
      transition: color 3s ease-out;
    //   filter: opacity(.5);
      &:hover{
        color: white;
        filter: opacity(.9);
      }
    
    }

    .arrow {
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, 50%);
        width: 50px;
        height: 50px;
        // animation: flashing 3s ease-in-out 3;
      }
      @keyframes flashing {
        0% {
          opacity: 1;
          color: black;
        }
        50% {
          opacity: 0;
          color: white;
        }
        100% {
          opacity: 1;
          color: black;
        }
      }

    }
// end of videoContainerDesktop Rules


////////////////////////////////////////////////////////
////////////////////////////////////////////////////////
    // about section rules
    .aboutAnimate{
      scale: 1;
      &:hover{
        scale: 1.1;
        cursor: pointer;
      }
    }

    .line {
      position: relative;
    }
    .line::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      // width: 20px;
      border-top: 4px solid $secondary;
    }

    hr {
        border-top: 4px solid #A29360 ; // remove default border
        opacity: 1; //color was faded out for some reason
      }

      .slide-in {
        
        animation: slides 3s ease-in-out 1;
        @keyframes slides {
          0% {
            transform: translateX(-100%);
          }
          100% {
            transform: translateX(0%);
          }
        }
        
      }

      .list-group-flush, .list-group-item{
        background-color: transparent!important;
        color: white!important;
      }
      // .slide-in.show {
      //   opacity: 1;
      // }
      
      /////////////////////////////////////////////////////
      /// projects home page rules
      @import 'projects';
      /////////////////////////////////////////////////////

      /////////////////////////////////////////////////////
      // footer rules
      footer{
        font-family: 'Cambo', Serif;
        font-size: 1.2rem;
        border-top: $info solid 5px;
        h6{font-size: .8rem;
        a{
          color: $info;
          text-decoration: none;
        }
        }
      }
      ul{
        list-style: none;
        li{
          margin-right: 10px;
        }
      }
      /////////////////////////////////////////////////////


      .camboBody{
        font-family: 'Cambo', Serif;
        font-size: 1.2rem;
      }

// resume page
.resumePage{
  h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto', Sans-Serif;
    
    // font-Size: 2.2rem;
  }
  p, ul, li{
    font-family: 'Cambo', Serif;
  }
  .resume{
    float: right;
    font-family: 'Cambo', Serif;
  }
  .resumeList{
   li{
    list-style: circle;
   } 
  }
  }



// this also needs to be kept at the bottom of the scss so it is not over written by other rules
// this is for javascript code for fade in effect when scrolling
// this begins at the aboutUs section
.fade-in {
  opacity: 0;
  transition: opacity 3s ease-in-out;
}
.fade-in.show {
  opacity: 1;
}

