// changed my grid points because the average phone has a width of 350-450 px and
// bootstraps sm: 576px is too big
$grid-breakpoints: (
  xs: 0,
  sm: 400px,
  md: 668px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
// $theme-colors: (
//   "primary":    $primary,
//   "secondary":  $secondary,
//   "success":    $success,
//   "info":       $info,
//   "warning":    $warning,
//   "danger":     $danger,
//   "light":      $light,
//   "dark":       $dark
// );
$primary: rgb(4, 22, 40);
$secondary: #A29360 ;
$info: #95B3BF;

/* Your styles go here */
@import "bootstrap/scss/bootstrap.scss";
@import "bootstrap-icons/font/bootstrap-icons.css";
// @import "~@fortawesome/fontawesome-free/css/all.css";



html, body{
    background-color: rgb(4, 22, 40)!important;
}
// .container{
//     background-color: rgb(4, 22, 40);
// }
nav{
    // background-color: rgb(4, 22, 40);
    .nav-link{
        color: white;
        font-size: 1.2rem;
        margin-right: 10px;
        &:hover, &:focus{
            color: $info ;
            transform: scale(1.5);
        }
        @media(max-width: 992px){
          &:hover, &:focus{
            color: $info;
            transform: scale(.9);
        }
          }    
    }
    // why is this not appearing unless clicked?
    .navbar-toggler, .navbar-toggler-icon{
      color: $secondary;
    }
    .navbar-toggler-icon{
      color: #A29360;
    }

}


#video-background { 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width:100%;
    display: block;
    height: auto;
  }

  .videoContainer{
    position: relative;
    // video is replaced if one mobile device
    @media(max-width: 400px){
      display: none;
      }
    .jumboMessage{
    //   font-family: 'Rubik', sans-serif;
    //   font-family: 'Source Sans Pro', sans-serif;
    //   font-family: 'Unbounded', cursive;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      color: black;
      transition: color 3s ease-out;
    //   filter: opacity(.5);
      &:hover{
        color: white;
        filter: opacity(.9);
      }
    
    }

    .arrow {
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, 50%);
        width: 50px;
        height: 50px;
        // animation: flashing 3s ease-in-out 3;
      }
      @keyframes flashing {
        0% {
          opacity: 1;
          color: black;
        }
        50% {
          opacity: 0;
          color: white;
        }
        100% {
          opacity: 1;
          color: black;
        }
      }

    }


    // about section rules
    .aboutAnimate{
      scale: 1;
      &:hover{
        scale: 1.1;
        cursor: pointer;
      }
    }



    .line {
      position: relative;
    }
    .line::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      // width: 20px;
      border-top: 4px solid $secondary;
    }

    hr {
        border-top: 4px solid #A29360 ; // remove default border
        opacity: 1; //color was faded out for some reason
      }

      .slide-in {
        
        animation: slides 3s ease-in-out 1;
        @keyframes slides {
          0% {
            transform: translateX(-100%);
          }
          100% {
            transform: translateX(0%);
          }
        }
        
      }
      // .slide-in.show {
      //   opacity: 1;
      // }
      

      /////////////////////////////////////////////////////
      /// projects home page rules
      
      .projectOverview{

        a{
          color: white;
          text-decoration: none;
          &:hover{
            color: $info;
          }
        }
        &:hover{transform: scale(1.1);}

      }
      #hideThis{
        margin-top: 250px;
      }
      #displayProjectOverview{
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
      ///////////////////////////////////////////////////// 



      ///////////////////////////////////////////////////// 
      /// Project subpages rules 
      strong{
        font-weight: 800;
      }
      .projectDescription > p{
        font-weight:300;
      }
      .breadCrumbNav{
        a{
          color: white;
          text-decoration: none;
          &:hover{
            color: $info!important;
          }
        }
      }
      .carousel-caption{
        background-color: rgba($color: #ffffff, $alpha: .7);
        border-radius: 30px;
        box-shadow: #2C3C4E 10px 10px 10px;
      }


      /////////////////////////////////////////////////////
      // footer rules
      footer{
        border-top: $info solid 5px;
      }
      ul{
        list-style: none;
        li{
          margin-right: 10px;
        }
      }
      /////////////////////////////////////////////////////





// this also needs to be kept at the bottom of the scss so it is not over written by other rules
// this is for javascript code for fade in effect when scrolling
// this begins at the aboutUs section
.fade-in {
  opacity: 0;
  transition: opacity 3s ease-in-out;
}
.fade-in.show {
  opacity: 1;
}